<div class="text">
  <p><strong>O Mnie</strong></p>
  <p>Witaj! Jestem Karolina, a ta strona to rezultat mojego projektu inżynierskiego. Pragnę Cię serdecznie przywitać na mojej stronie. To miejsce jest dla wszystkich, którzy pragną odnaleźć spokój i równowagę emocjonalną w życiu, szczególnie w kontekście walki z zaburzeniami lękowymi.</p>
  <br>
  <p><strong>Moja Pasja</strong></p>
  <p>Moje zainteresowanie technologią i psychologią skłoniło mnie do podjęcia się tego wyzwania. Rozwój tej platformy był napędzany moją pasją i pragnieniem pomocy ludziom, którzy cierpią na zaburzenia lękowe. Wierzę, że łącząc te dwie dziedziny, mogę dostarczyć narzędzi i wsparcia, które pomogą w zmierzeniu się z tym wyzwaniem.</p>
  <p><strong>Dziękuję za wsparcie!</strong></p>
  <br>
  <p><strong>Kontakt</strong></p>
  <p><strong>Email: </strong>261655@student.pwr.edu.pl</p>
  <p></p>
</div>

<img class="divider" src="assets/wave.png">
<footer class="text-center">
  <div class="text-center p-3" style="background-color: #46523e; color: #f0f2e9">
    © 2023 Karolina Michałek
  </div>
</footer>
