.doctor-info{
  border-color: #020826;
  margin: 10px auto;
  color: #46523e;
}

.buttons{
  background-color: #46523e;
  color: #f0f2e9;
}

.code{
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  margin: 10px auto;
  width: 100%;
  color: #46523e;
}

.card{
  background-color: #f0f2e9;
  border-radius: 5px;
  border-width: 0;
  color: #46523e;
}

.accept{
  margin-right:10px;
  padding:5px;
  background-color: #46523e;
  color: #f0f2e9;
}

.reject{
  background-color: #D2042D;
  color: #f0f2e9;
}
