<div *ngIf="data.mode ==='SHOW'">
  <h1 mat-dialog-title><p style="font-weight: bold">{{data.exercise.name}}</p></h1>
  <div mat-dialog-content>
    <p [innerHTML]="data.exercise.description"></p>
    <p>Czas trwania: {{data.exercise.duration}}</p>
    <p>Kategoria: {{data.exercise.category}}</p>
    <p *ngIf="!!data.exercise.createdBy"><span
      class="text-small">Stworzony przez:</span> {{data.exercise.createdBy.name}} {{data.exercise.createdBy.surname}}
    </p>
  </div>
</div>
<div mat-dialog-content *ngIf="data.mode ==='EDIT' || data.mode === 'ADD'">
  <form [formGroup]="addExerciseForm" style="width: 50%; margin: 10px auto;">
    <div class="form-group" style="margin-top: 10px">
      <input
        type="text"
        id="name"
        class="form-control info"
        formControlName="name"
        placeholder="Nazwa">
    </div>
    <div class="form-group" style="margin-top: 10px">
      <input
        type="text"
        id="description"
        class="form-control info"
        formControlName="description"
        placeholder="Opis">
    </div>
    <div class="form-group" style="margin-top: 10px">
      <select class="form-select" formControlName="duration">
        <option value="" selected>Czas Trwania (kategoria)</option>
        <option value="krotkie">Krótkie (< 5min)</option>
        <option value="srednie">Średnie (5-10 min)</option>
        <option value="dlugie">Długie (>10 min)</option>
      </select>
    </div>
    <div class="form-group" style="margin-top: 10px">
      <input
        type="number"
        id="time"
        class="form-control info"
        formControlName="time"
        placeholder="Czas trwania (w minutach)">
    </div>
    <div class="form-group" style="margin-top: 10px">
      <select class="form-select" id="categoryAddExercise" formControlName="category">
        <option value="" selected>Kategoria</option>
        <option value="oddechowe">Oddechowe</option>
        <option value="Przyklad2">Fizyczne</option>
        <option value="Przyklad3">Inne</option>
      </select>
    </div>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <!-- Timer Section -->
  <div *ngIf="data.mode === 'SHOW' && data.exercise.time !== 0" class="timer-controls">
    <button mat-icon-button class="timer" (click)="onStartTimer()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <p>{{ timerFormatted }}</p>
    <button mat-icon-button class="timer" (click)="onStopTimer()">
      <mat-icon>pause</mat-icon>
    </button>
  </div>

  <!-- Action Buttons Section -->
  <div class="action-buttons">
    <button class="btn button" (click)="onCloseDialog('ADD')" *ngIf="data.mode === 'ADD'">Dodaj</button>
    <button class="btn btn-danger" (click)="onCloseDialog('DELETE')" *ngIf="data.mode === 'EDIT'">Usuń</button>
    <button class="btn btn-primary" [disabled]="!addExerciseForm.valid" (click)="onCloseDialog('SAVE')"
            *ngIf="data.mode === 'EDIT'">Zapisz
    </button>
    <button class="btn close" (click)="dialogRef.close('CLOSE')">Zamknij</button>
  </div>
</div>
