<div class="text">
  <p>Nasza platforma jest dedykowana tym, którzy chcą prowadzić bardziej spokojne, pełne radości i zrównoważone życie. Tutaj znajdziesz narzędzia, wsparcie i wskazówki, które pomogą Ci lepiej zrozumieć swoje nastroje, radzić sobie z lękiem oraz krok po kroku osiągać lepszą równowagę emocjonalną.</p>
  <br>
  <p>Co znajdziesz na UspokajamLęk.pl?</p>
  <ol>
    <li><strong>Monitorowanie nastroju:</strong> Nasza aplikacja pozwala śledzić i analizować swoje nastroje. Możesz tworzyć wykresy, zapisywać uwagi i zauważać, jak zmieniają się Twoje emocje w czasie. To pierwszy krok ku lepszemu zrozumieniu siebie.</li>
    <li><strong>Zapiski o lęku:</strong> Zapisuj momenty, w których Twój poziom lęku był szczególnie wysoki. To pomoże Ci zidentyfikować wyzwalacze i lepiej zrozumieć, co wpływa na Twoje samopoczucie.</li>
    <li><strong>Przypomnienia o lekach:</strong> Nie zapomnij o swoich lekach! Nasza aplikacja pomoże Ci w codziennym zarządzaniu farmakoterapią, przypominając o przyjmowaniu dawek.</li>
    <li><strong>Ćwiczenia oddechowe:</strong> Naucz się prostych, skutecznych ćwiczeń oddechowych, które możesz wykorzystać w momentach stresu i lęku. Dzięki nim odzyskasz kontrolę nad oddechem i spokojem.</li>
    <li><strong>Samodzielny poradnik terapeutyczny:</strong> Czytaj nasz poradnik i zgłębiaj wiedzę na temat technik relaksacyjnych, mindfulness oraz innych metod radzenia sobie ze stresem i lękiem. Z nami możesz stworzyć swoją własną ścieżkę do spokoju.</li>
    <li><strong>Śledzenie postępów:</strong> Notuj, co działa i co przynosi rezultaty. Dzięki temu zrozumiesz, jakie techniki są dla Ciebie najbardziej skuteczne, a które warto dostosować lub odrzucić.</li>
    <li><strong>Kontaktuj się ze swoim terapuetą kiedy tego potrzebujesz:</strong> Otrzymuj od swojego terapuety codzienne zadania, które pozwolą na utrzymywanie spokoju przez długi czas.</li>
  </ol>
</div>
  <img class="divider" src="assets/wave.png">
  <div class="row justify-content-center cards">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Razem w kierunku spokoju</p>
          <p class="card-text">Nie jesteś sam(a) w swojej drodze. Nasza społeczność, składająca się z ludzi podobnych do Ciebie, jest tu po to, by wspierać i dzielić się doświadczeniami. Wspólnie możemy osiągnąć spokój i lepsze samopoczucie.</p>
        </div>
      </div>
    </div>
<footer class="text-center">
  <div class="text-center p-3" style="background-color: #46523e; color: #f0f2e9">
    © 2023 Karolina Michałek
  </div>
</footer>
