<div class="row" style="width: 30%; margin: 0 auto">
  <div style="margin: 20px auto;">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">E-Mail <span>*</span></label>
        <input
          type="email"
          id="email"
          class="form-control info"
          formControlName="email">
        <p class="text-danger" *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid">Niepoprawny email</p>
      </div>
      <div class="form-group">
        <label for="password">Hasło <span>*</span></label>
        <input
          type="password"
          id="password"
          class="form-control info"
          formControlName="password"
          minlength="6">
        <p class="text-danger" *ngIf="signUpForm.get('password')?.touched && signUpForm.value['password'].length < 6">Hasło powinno mieć co najmniej 6 znaków</p>
      </div>
      <div class="form-group">
        <label for="secondPassword">Powtórz hasło <span>*</span></label>
        <input
          type="password"
          id="secondPassword"
          class="form-control info"
          formControlName="secondPassword"
          minlength="6">
        <p class="text-danger" *ngIf="signUpForm.get('secondPassword')?.touched && signUpForm.value['secondPassword'].length < 6">Hasło powinno mieć co najmniej 6 znaków</p>
        <p class="text-danger" *ngIf="signUpForm.get('secondPassword')?.touched && signUpForm.value['secondPassword'] != signUpForm.value['password']">Hasła nie są takie same</p>
      </div>
      <div class="form-group">
        <label for="name">Imię <span>*</span></label>
        <input
          type="text"
          id="name"
          class="form-control info"
          formControlName="name">
      </div>
      <div class="form-group">
        <label for="surname">Nazwisko <span>*</span></label>
        <input
          type="text"
          id="surname"
          class="form-control info"
          formControlName="surname">
      </div>
      <div class="form-group">
        <label for="birthDate">Data urodzenia</label>
        <input
          type="date"
          id="birthDate"
          class="form-control info"
          formControlName="birthDate">
        <p class="text-danger" *ngIf="signUpForm.get('birthDate')?.touched && checkDate()">Niepoprawna data urodzenia</p>
      </div>
      <p style="color: red; text-align: center; font-size: 12px">
        * pole wymagane
      </p>
      <div class="text-center">
        <button class="btn btn buttons" type="submit" [disabled]="!signUpForm.valid">Zarejestruj się</button>
      </div>
      <div class="text-center" *ngIf="registerFailed">
        <p class="text-danger">Niepoprawne dane, spróbuj ponownie</p>
      </div>
    </form>
  </div>
  <div class="text-center" style="margin-top: 20px; font-size: 12px;">
    <p>
      Jesteś specjalistą?
      <a routerLink="/doctor-register">Kliknij tutaj</a>
      aby się zarejestrować jako specjalista.
    </p>
  </div>
</div>

