.background {
  background-color: #f0f2e9;
  border-radius: 5px;
}

.list-group{
  margin: 10px 0 10px 0;
}

.list-group{
  font-size: 18px;
}

.scrollable-container {
  max-height: 80vh;
  overflow-y: auto;
}

.buttons{
  /*background-color: #F9F4EF;*/
  background-color: #46523e;
  /*border-color: #020826;*/
  color: #f0f2e9;
}

