<div class="row">
  <div class="col-md-4" style="margin: 20px auto;">
    <form [formGroup]="assignExerciseForm">
      <div class="form-group">
        <label for="exercise">Ćwiczenie</label>
        <select
          id="exercise"
          formControlName="exercise"
          class="form-select">
          <option value="" disabled>Ćwiczenie</option>
          <option *ngFor="let exercise of exercises; let i=index" value="{{exercise.id}}">{{exercise.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="date">Data</label>
        <input
          type="date"
          id="date"
          class="form-control info"
          formControlName="date">
      </div>
      <div class="text-center">
        <button class="btn btn buttons" type="submit" [disabled]="!assignExerciseForm.valid" (click)="onAssignExercise()">Przypisz ćwiczenie</button>
      </div>
      <div class="text-center" *ngIf="assignExerciseFailed">
        <p class="text-danger">Niepoprawne dane, spróbuj ponownie</p>
      </div>
    </form>
  </div>
</div>
